#root {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 43em;
  align-items: center;
}

.logo {
  height: 14em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ff8fd4aa);
}
/* 
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 30s linear;
  }
} */
.loader {
  margin-top: 20px;
  width: 60px;
  height: 20px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 35px;
  position: relative;
}

.ball {
  width: 18px;
  height: 18px;
  background-color: #FF5C00;
  border-radius: 50%;
  position: absolute;
  animation: moveBall 0.7s ease-in infinite;
}

@keyframes moveBall {
  0% {
    left: 0px;
  }
  100% {
    left: 80%;
  }
}
